.detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.detailImg {
  width: 100%;
  height: 77vh;
}

.detailBtn {
  width: 25%;
  height: 10%;
  background-color: black;
  color: cornsilk;
  font-size: 15px;
  margin-right: 5px;
  cursor: pointer;
}

@media (max-width: 371px) {
  .detail {
    display: grid;
    grid-template-columns: 1fr;
    margin: 5px 5px;

  }

  .detailBtn {
    margin-bottom: 20px;
    width: 35%;
  }

  .detailImg {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
}
